@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --clr-main: #886db2;
  --clr-secondary: #baa7d6;
  --clr-bg: #f3f0f1;
  --ff-main: "Major Mono Display", monospace;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--ff-main);
  /* background: linear-gradient(to right, va, #fff, #eee); */
  background-color: var(--clr-bg);
  overflow-y: hidden;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  height: 100%;
  width: 20%;
}

.right {
  /* background-color: antiquewhite; */
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time-select {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  font-family: var(--ff-main);
  cursor: pointer;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);

  transition: all 300ms ease;
}

button:hover {
  opacity: 0.5;
}

button:focus {
  outline: none;
}

button:active {
  opacity: 1;
  box-shadow: inset -8px -8px 6px rgba(255, 255, 255, 0.5),
    inset 6px 6px 8px rgba(0, 0, 0, 0.15);
  color: var(--clr-main);
}

.time-select button {
  color: var(--clr-secondary);
  background: none;
  /* border: 2px solid #000; */
  border: none;
  font-size: 20px;
  border-radius: 50px;
  padding: 1rem 1.8rem;
}

.sound-picker {
  /* border: 1px solid blue; */
  height: 100%;
}

.player-container,
.sound-picker {
  /* height: 80%; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: #444; */
  /* height: 50vh; */
}

.player-center {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}

.play-pause-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-center img {
  position: absolute;
  width: 30px;
  transform: translateX(10%);
  cursor: pointer;
}

.player-center img:hover {
  opacity: 0.7;
}

.player-center svg {
  position: absolute;
  height: 100%;
  transform: rotate(-90deg);
  pointer-events: none;
}

.time-display {
  /* position: absolute; */
  /* bottom: 0; */
  /* color: #fff; */
  font-size: 2.5rem;
  /* border: 1px solid blue; */
  padding: 1rem 2rem;
  border-radius: 20px;
  background: linear-gradient(to right, var(--clr-main), var(--clr-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: inset -8px -8px 6px rgba(255, 255, 255, 0.5),
    inset 6px 6px 8px rgba(0, 0, 0, 0.15);
}

.sound-picker button {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sound-picker img {
  position: absolute;
  height: 60%;
}

/* video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
} */

.middle {
  width: 50%;
}
.anime-container {
  /* ^  margin: 50px auto; */
  padding: 0 40px;
  /* border: 1px solid blue; */
}

#bg-shape {
  animation: shape 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#line1,
#line2,
#line3 {
  animation: line 10s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#bean1,
#bean2,
#bean3,
#bean4 {
  animation: bean 10s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes shape {
  0% {
    transform: scale(1) translateX(0);
  }
  50% {
    transform: scale(1.04) translateX(12px);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes line {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bean {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
